.cartão__conteudo{
    margin-top: 1rem;
    padding: 2rem;
    margin-top: 4rem;
    font-size: 1.4vw;
}

.cartão__conteudo__pergunta{
    color: var(--text-color);
    font-weight: 500;
}

.cartão__conteudo__reposta{
    color: var(--card-back-color);
    font-weight: 700;

}

.cartão.active.cartão__conteudo{
    transform: rotate(180deg);
}

.cartao__conteudo__pergunta
.cartão__conteudo__resposta{
    backface-visibility: hidden;
    position:absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.cartão__conteudo__reposta{
    transform: rotate(180deg);
    background-color: rgba(0,244, 191,0.2);
    border: 4px solid var(--card-back-color);
}

.fotter{
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

.fotter{
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;-top: 4rem;
    font-size: 1.4vw;
}

.cartão__conteudo__pergunta{
    color: var(--text-color);
    font-weight: 500;
}

.cartão__conteudo__reposta{
    color: var(--card-back-color);
    font-weight: 700;

}

.cartão.active.cartão__conteudo{
    transform: rotate(180deg);
}

.cartao__conteudo__pergunta
.cartao__conteudo h3{
    background-color: tomato;
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
}

/* codigo omitido*/
.cartao__conteudo  {
    margin: top 1rem;
    padding:2rem;
    margin-top: 4rem;
    font-size: 1.4vw;
}
.cartao__conteudo__pergunta {
    color: var(--text-color);
    font-weight:500;
}

.cartao__conteudo__reposta {
    color:var(--car-back-color);
     font-weight: 700;
}
.cartao.active.cartao__conteudo{
transform:rotateY(180deg) ;
}

.cartao__conteudo__pergunta,
.cartao__conteudo__resposta{
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    bo;
}
.cartão__conteudo__resposta{
    backface-visibility: hidden;
    position:absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.cartão__conteudo__reposta{
    transform: rotate(180deg);
    background-color: rgba(0,244, 191,0.2);
    border: 4px solid var(--card-back-color);
}

.fotter{
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

.fotter{
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}

@medida(max-width:560px){
    body{
        background :url('img/bg-mobile.webp'), no-repeat cover;
    }
}

.cartão{
    flex:1.0 calc(100%-1rem)
}

.cartao__conteudo h3{
    font-size: 3vw;

}
.cartão__conteudo{
    font-size: 3.8vw;
}
}

@medida(max-width:560px){
    body{
        background :url('img/bg-mobile.webp'), no-repeat cover;
    }
}

.cartão{
    flex:1.0 calc(100%-1rem)
}

.cartao__conteudo h3{
    font-size: 3vw;

}
.cartão__conteudo{
    font-size: 3.8vw;
}